* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  // font-family: 'Roboto', sans-serif;
  font-family: 'IBM Plex Sans', sans-serif;
}

.num {
  font-family: 'IBM Plex Mono', monospace;
}